html, body{
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}

div.opener{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("./images/lakeview.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;
}

header{
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header div.logo{
    margin: auto 2em;
    padding: 0;
    flex: 1;
}

header div.logo h1{
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    color: rgba(108, 49, 0, 0.5);
    line-height: 5vh;
}

header nav{
    height: 10vh;
    flex: 4;
}
header nav ul{
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 0;
}
header nav ul li{
    line-height: 10vh;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header nav ul li a{
    min-height: 10vh;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: rgb(148, 92, 46);
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

header nav ul li:hover a{
    background: rgb(255, 178, 126);
    text-decoration: none;
    color: #000;
}

header div.social_medias{
    margin: 0;
    padding: 0;
    float: right;
    flex: 2;
    line-height: 10vh;
}

header div.social_medias i{
    padding: 10px;
    margin: 0.5em;
    background-color: rgba(159, 71, 0, 0.8);
    border-radius: 50%;
    font-size: 14px;
}

header div.social_medias i:hover{
    animation: 1s ease-in-out infinite animate;  
    cursor: pointer;
}

@keyframes animate{

    100%{
        transform: rotate(360deg)
    }
}

div.landing{
    padding: 0;
    margin: auto;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.landing div.message{
    margin: 0 2em;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

div.landing div.message p:first-child{
    text-align: left;
    padding: 0 1em;
    letter-spacing: 5px;
    font-size: 28px;
    color: rgb(255, 202, 159);
}

div.landing div.message p{
    text-align: left;
    padding: 0 1em;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(255, 228, 194);
}

div.landing div.message button{
    padding: 0;
    margin: auto;
    height: 40px;
    width: 40%;
    background-color: rgb(220, 141, 57);
    border: none;
    border-radius: 10px;
}

div.landing div.form{
    width: 30%;
    padding: 0;
    margin: auto;
    background-color: #fff;
    text-align: center;
    align-self: flex-end;
}

div.landing div.form p{
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(255, 202, 159);
}

div.landing div.form p:last-child{
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(126, 57, 0);   
}

div.landing div.form form{
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

div.landing div.form form input[type="text"], input[type="email"]{
    margin: 0.8em;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(220, 141, 57);
}

div.landing div.form form input[type="submit"]{
    padding: 0;
    margin: auto;
    height: 40px;
    width: 90%;
    background-color: rgb(220, 141, 57);
    border: none;
    border-radius: 10px;
}

div.landing div.form form input::placeholder{
    color: rgba(159, 71, 0, 0.8);
}

div.products_wrapper{
    padding: 5em;
    /* margin: 2em auto; */
    height: fit-content;
    width: 100%;
    background-image: url("./images/beiheng-guo-1470149-unsplash.jpg");
    background-size: cover;
    box-sizing: border-box;
}

div.products_wrapper h1{
    padding: 0;
    margin: 0 0 1em;
    text-align: center;
    color: rgb(255, 202, 159);
}

div.products_wrapper section.products{
    padding: 0;
    margin: auto;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    grid-gap: 1.5em;
}

div.products_wrapper section.products .product{
    padding: 10px;
    margin: auto;
    background-color: rgba(220, 141, 57, 0.6666);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    color: rgb(255, 202, 159);
}

div.products_wrapper section.products .product h3{
    padding: 1em;
    margin: auto;
}

div.products_wrapper section.products .product img{
    height: 150px;
    width: 200px;
    padding: 1em;
    margin: auto;
}