html, body{
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.opener{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("./images/lakeview.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-gap: 1em;
}

.header{
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    position: fixed;
}

.header .logo{
    margin: auto 2em;
    padding: 0;
    flex: 1;
}

.header .logo h1{
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    color: rgba(108, 49, 0, 0.5);
    line-height: 5vh;
    transition: 1s;
}

.header .logo h1:hover{
    transform: scale(1.1);
    color: rgba(64, 29, 0, 0.8);
}

.header nav{
    margin: auto;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header .burger{
    display: none;
    padding: 10px;
    margin: 0;
    line-height: 8vh;
    cursor: pointer;
}
.header .burger div{
    height: 2.5px;
    width: 25px;
    margin: 5px;
    background-color:rgb(108, 49, 0);
}

.header nav ul{
    margin: auto 10em;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 0;
}
.header nav ul li{
    line-height: 10vh;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header nav ul li a{
    min-height: 10vh;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: rgb(148, 92, 46);
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.header nav ul li:hover a{
    background-color: rgba(159, 71, 0, 0.8);
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 780px){
    .opener{
        height: fit-content;
    }

    .header{
        min-height: 10vh;
        display: grid;
        margin: 0 0 1em 0;
    }

    .header .burger{
        position: absolute;
        display: block;
        margin: auto;
        line-height: 10vh;
    }

    .header .logo{ 
        text-align: center; 
        margin: auto;
    }

    .header .logo h1{
        line-height: 100%;
    }

    .header nav{
        display: flex;
    }

    .header nav ul{ display: none }

    .header nav.active{
        height: 50vh;
        width: 80%;
        display: block;
        background-color: rgba(255, 228, 194, 0.88);
    }

    .header nav.active ul{
       display: flex;
       flex-direction: column;
    }

    .header nav.active ul li{
        flex: 1;
        width: 100%;
    }

    .header nav.active ul li a{
        padding: 10px;
        margin: auto;
    }
}

.landing{
    padding: 0;
    margin: auto;
    min-height: fit-content;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.landing .message{
    margin: auto;
    padding: 1em;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.landing .message p:first-child{
    text-align: left;
    padding: 0 1em;
    letter-spacing: 5px;
    font-size: 28px;
    color: rgb(255, 202, 159);
}

.landing .message p{
    text-align: left;
    padding: 0 1em;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(255, 228, 194);
}

.landing .message button{
    padding: 0;
    margin: auto;
    height: 40px;
    width: 40%;
    background-color: rgb(220, 141, 57);
    border: none;
    border-radius: 10px;
}

.landing .form{
    width: 30%;
    padding: 0;
    margin: auto;
    background-color: #fff;
    text-align: center;
    align-self: flex-end;
}

.landing .form p{
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(255, 202, 159);
}

.landing .form p:last-child{
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(126, 57, 0);   
}

.landing .form form{
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.landing .form form input[type="text"], input[type="email"]{
    margin: 0.8em;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(220, 141, 57);
}

.landing .form form input[type="submit"]{
    padding: 0;
    margin: auto;
    height: 40px;
    width: 90%;
    background-color: rgb(220, 141, 57);
    border: none;
    border-radius: 10px;
}

.landing .form form input::placeholder{
    color: rgba(159, 71, 0, 0.8);
}

@media only screen and (max-width: 780px){
    .landing{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        height: 120vh;
    }

    .landing .message{
        width: 80%;
        margin: 10em auto;
    }

    .landing .form{
        width: 80%;
        margin: 1em auto;
    }

    .landing .message p:first-child{
        font-size: 22px;
        letter-spacing: 0.5px;
    }

    .landing .message p{
        font-size: 18px;
        letter-spacing: 0.5px;
    }

}

.social_medias{
    padding: 0;
    margin: 1em;
    height: 300px;
    width: auto;
    margin: 2em;
    padding: 1em;
    display: grid;
}

.social_medias h2{
    padding: 0;
    margin: 0;
    color: rgb(220, 141, 57);
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.social_medias .icons{
    padding: 1em;
    margin: auto;;
    height: 80%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.social_medias i{
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: rgba(159, 71, 0, 0.8);
    border-radius: 30%;
    font-size: 56px;
}

.social_medias i:hover{
    animation: 1s ease-in-out infinite animate;  
    cursor: pointer;
}

@keyframes animate{

    100%{
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 780px){

    .social_medias h2{
        font-size: 36px;
    }
    
    .social_medias i{
        height: 40px;
        width: 40px;
        font-size: 42px;
    }
}

div.products_wrapper{
    padding: 5em;
    /* margin: 2em auto; */
    height: fit-content;
    width: 100%;
    background-image: url("./images/hiker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: grid;
}

div.products_wrapper h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 56px;
    color: rgba(159, 71, 0, 0.8);
}

div.products_wrapper section.products{
    padding: 0;
    margin: 2em auto;
    max-height: fit-content;
    min-height: 120vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: minmax(30%, auto);
    grid-auto-rows: minmax(1fr, auto);
    grid-gap: 2em;
}

@media only screen and (max-width: 1130px){
    div.products_wrapper section.products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(1fr, auto);
        grid-gap: 2em 4em;
    }
}

@media only screen and (max-width: 960px){
    div.products_wrapper{
        padding: 0;
        /* margin: 2em auto; */
        height: fit-content;
        width: 100%;
        background-image: url("./images/hiker.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        display: grid;
    }
    div.products_wrapper section.products{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(1fr, auto);
        grid-gap: 2em;
    }
}

div.products_wrapper section.products .product{
    padding: 0;
    margin: auto;
    min-height: fit-content;
    height: 90%;
    width: 90%;
    background-color: rgba(220, 141, 57, 0.8);
    box-shadow: 0.5px 0.5px 1px 2px #333;
    display: flex;
    flex-direction: column;
    color: #000;
}

div.products_wrapper section.products .product:hover{
    box-shadow: 1px 1px 2px 4px #333;
}

div.products_wrapper section.products .product h3{
    padding: 20px;
    margin: auto;
}

div.products_wrapper section.products .product p{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

div.products_wrapper section.products .product img{
    height: 45%;
    width: 80%;
    padding: 1em;
    margin: auto;
    transition: 1s ease-in-out;
    overflow: hidden;
}

div.products_wrapper section.products .product img:hover{
    transform: scale(1.1);
}

div.products_wrapper button{
    padding: 0;
    margin: 2em auto;
    height: 40px;
    width: 300px;
    text-align: center;
    background-color: rgba(220, 141, 57, 0.8);
    border: 2px solid #000;
    border-radius: 20px;
}

div.team{
    height: fit-content;
    width: auto;
    background-color: whitesmoke;
    background-attachment: fixed;
}

div.team h1{
    padding: 1em;
    margin: 0;
    text-align: center;
    font-size: 48px;
    color: rgb(148, 92, 46);
    text-decoration: underline rgb(148, 92, 46);
}

div.team section.our_team{
    padding: 2em;
    margin: 0;
    height: fit-content;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    grid-gap: 5em 2em;
}

div.team section.our_team img{
    padding: 0;
    margin: 0;
    width: 100%;
}

div.team section.our_team div.desc{
    padding: 0;
    margin: auto;
}

div.team section.our_team div.desc h2{
    padding: 1em;
    margin: auto;
    text-align: center;
    font-size: 36px;
    color: rgb(148, 92, 46);
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.team section.our_team div.desc p{
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: rgb(220, 141, 57);
}

footer{
    background-color: rgb(130, 83, 51);
    height: 40vh;
    display: flex;
}

footer div.contact{
    flex: 1;
    padding: 1em;
    margin: auto 0;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: none;
}

footer div.contact i{
    padding: 10px;
    margin: auto;;
    font-size: 30px;    
}

footer div.contact p{
    padding: 10px;
    margin: auto 0;
    font-size: 18px;
    font-weight: 500;
}

footer div.info{
    flex: 1;
    margin: auto;
}

footer div.info{
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

footer div.info p{
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    flex: 1;
}

footer div.info form{
    padding: 0;
    margin: 1em 0;
    height: fit-content;
    width: 80%;
    display: flex;
}

footer div.info form input[type="email"]{
    margin: auto;
    padding: 0 10px;
    height: 38px;
    width: 80%;
    background-color: rgb(255, 189, 119);
    border: none;
}

footer div.info form input[type="submit"]{
    margin: auto 5px;
    padding: 10px;
    height: 40px;
    width: 100px;
    background-color: rgb(220, 141, 57);
    color: #000;
    border: none;
    border-radius: 5px; 
}

footer div.info div.icons i{
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: auto 0.5em;
    text-align: center;
    border-radius: 30%;
    font-size: 48px;
}

@media only screen and (max-width: 725px){
    div.team section.our_team{
        display: grid;
        grid-template-columns: 1fr;
    }

    footer{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    footer div.contact{
        margin: auto;
    }

    footer div.info{
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    footer div.info form{
        margin: 1em auto;
    }

    footer div.info .icons{
        margin: auto;
    }
}